@import './reset.css';
@import './variables.css';
@import './modifiers.css';
@import '@bcgov/bc-sans/css/BC_Sans.css';

body {
  margin: 0;
  font-family: BC Sans, Calibri, Arial, sans-serif;
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--light-grey);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.45em;
}

h4 {
  font-size: 1.2em;
}

hr {
  border-top: 2px solid var(--light-grey3);
  margin-top: 10px;
  margin-bottom: 20px;
}

a {
  color: var(--link-text-color);
}

a:hover {
  color: var(--link-text-color-hover);
}

button {
  padding: 6px 12px;
  color: var(--text-color);
  border-radius: 4px;
  text-decoration: none;
  line-height: 27px;
  background-color: var(--white);
  border: 1px solid var(--dark-grey);
  cursor: pointer;
}

button:hover {
  background-color: var(--light-grey2);
}
